.container {
  max-width: 500px;
  margin: 0 auto;
}

.btn {
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btn:active {
  transform: scale(1.1);
}

.btn.dark {
  border: 1px solid #fff;
  background-color: #222;
  color: #fff;
}
.btn.light {
  border: 1.8px solid royalblue;
  background-color: #fff;
  color: royalblue;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.form {
  padding: 16px;
  background: #fff;
  border-radius: 15px;
  max-width: 500px;
  width: 95%;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.form .title {
  text-align: center;
  font-size: 1.6rem;
  color: #322;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
.form label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #444;
}

.form input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05);
  font-size: 1rem;
}

.form .form-group {
  margin-bottom: 1.7rem;
}

.form input:focus {
  outline: none;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.form .btn {
  width: fit-content;
  align-self: center;
}

.event-list {
  max-width: 700px;
  width: 100%;
  margin: 3rem auto;
  padding: 5px;
}
.event-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-collapse: separate;
  position: relative;
}
.event-item:hover {
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
  transform: scaleY(1.1);
}
.event-item .delete {
  position: absolute;
  right: -15px;
  top: -2px;
  color: rgb(37, 36, 36);
  font-weight: bold;
  cursor: pointer;
}

.event-item:nth-child(odd) {
  background: rgb(219, 237, 245);
}
.event-item:nth-child(even) {
  border: 1px solid rgb(243, 243, 243);
}
